<ul >
  {{#events}}
    <li class="w3-container w3-card w3-white w3-round w3-margin">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Like!</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
    <hr class ="w3-clear">
    </li>
  {{/events}}
</ul>