<ul >
  {{#events}}
    <li class="w3-container w3-card w3-white w3-round w3-margin">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <button type="button">Like!</button>
    </li>
  {{/events}}
</ul>